@import url("primer.css");
@import url(http://fonts.googleapis.com/css?family=Joti+One&subset=latin,latin-ext);
@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.min.css");

body {
  font-family: 'Open Sans', Verdana;
}
h1, #loadText {
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-family: 'Joti One', cursive;
}
#loadText {
    line-height: 380px;
    font-size: 30px;
}
.container {
    position: relative;
    margin: 20px auto 50px;
    width: auto;
    max-width: 1000px;
    height: 500px;
}

.gads {
    text-align: center;
    max-width: 1000px;
    margin: 20px auto;
}

#mute {
    width: 49px;
    height: 40px;
    background: url(../img/mute.png) no-repeat;
    display: block;
    text-decoration: none;
    outline: none;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 15;
    background-position: 0 0;
}

#fps_count {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: white;
    font-family: 'Joti One', cursive;
}

@font-face{
	font-family: 'Joti One';
	src: url('../fonts/happy_sans-webfont.eot');
	src: url('../fonts/happy_sans-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/happy_sans-webfont.woff') format('woff'),
	     url('../fonts/happy_sans-webfont.ttf') format('truetype'),
	     url('../fonts/happy_sans-webfont.svg#webfont') format('svg');
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

.controls {
    width: 200px;
    height: 48px;
    background: url(../img/controls.png) no-repeat top center;
    margin: 10px auto;
    position: absolute;
    top: 60%; left: 50%;
    margin-top: -24px; margin-left: -100px;
}

/* options */
.options {
    height: 400px;
    background-image: url(../img/stand.png);
    background-position: bottom center;
    width: 225px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: 50px;
}

.options:before {
    content: '';
    background-image: url(../img/dig.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 47px;
    height: 49px;
    bottom: -1px;
    left: 50%;
    margin-left: -27px;
    z-index: -1;
}

.options ul {
    margin: 0;
    padding: 50px 0 0;
    list-style: none;
}

.options ul li {
    display: block;
    font: 30px 'Joti One', cursive;
    text-align: center;
    margin: 0 0 20px;
}

.options ul li a {
    color: #FFEEAA;
    text-decoration: none;
}

.options ul li:first-child {
    background: url(../img/plank_top.png) no-repeat top center;
    height: 70px;
    line-height: 70px;
}

.options ul li:nth-child(2) {
    background: url(../img/plank_mid.png) no-repeat top center;
    height: 63px;
    line-height: 63px;
}

.options ul li:last-child {
    background: url(../img/plank_bot.png) no-repeat top center;
    height: 75px;
    line-height: 75px;
}

/* Loading */
#loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -10px;
    background: #FF6767;
    z-index: 10;
}

#loading #barCont {
    width: 400px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -200px;
    background: black;
}

#loading #bar {
    width: 0;
    height: 20px;
    position: absolute;
    left: 0;
    background: #F3FF67;
}

/* game canvas */
canvas#game_main {
  display: block;
  margin: 0 auto;
  position: absolute;
}
canvas#game_bg {
    display: block;
    margin: 0 auto;
    position: absolute;
}
/* Score Board */
#score_board {
    position: absolute;
    top: 0; left: 0; right: 0;
    padding: 10px;
    height: 10%;
    text-align: left;
    font-size: 30px;
    font-weight: normal;
    font-family: 'Joti One', cursive;

    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#invincible_timer {
    width: 150px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 50%;
    border: 1px solid #fff;
    margin-left: -75px;
    display: none;
}
#invincible_loader {
    width: 100%; height: 100%;
    background: #FDCF7D;
}


/* Start Screen */
#start_screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    width: 100%;

    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#title {
    font-size: 67px;
    line-height: 100px;
    font-weight: normal;
    color: #945430;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 0px white;
}

#credits, #high_score, #last_score {
    font: 36px 'Joti One', cursive;
    color: white;
    padding: 0;
    text-align: center;
    margin: -10px 0 10px;
}

#credits a {
    color: #FFEEAA;
    text-decoration: none;
}

.docs {
    position: absolute;
    top: 510px;
    padding:;
}

.docs ul {
    padding-left: 20px;
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}
